aside {

  #tocList {
    .nav-item .nav-link {
      font-size: 1.25rem;
      font-style: normal;
      padding: 0px;
      padding-left: 2rem;
    }

    padding-bottom: 1rem;
  }

  .resource-list {
    padding-left: 2rem;
    text-indent: -2rem;

    a, a:hover {
      font-style: normal;
    }
  }
}


