#splash {
  background-color: $base3;
  background-image: url("https://i.imgur.com/eeaGgQ5.png");
  background-position: center;

  a {
    color: $violet;
  }

  a:hover, a:focus {
    color: $cyan;
  }

  h2, h3 {
    font-family: Nunito, "Helvetica," sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $violet;
  }

  .btn-primary {
    color: $base3;
    background-color: $violet;
  }

  .btn-primary:hover, .btn-primary:focus {
    color: $base3;
    background-color: $cyan;
  }

}

@media (min-width: 576px){
  #splash {
    max-width: 675px;

    h1 {
      font-size: 4rem;
    }

    h2, h3 {
      font-size: 2rem;
    }

  }
}
