// [img]https://i.imgur.com/elWuDjJ.png[/img]

.brand-img {
  margin-top: -.7rem;
  height: 2rem;
  width: 2rem;
}

.navbar {
  background-color: $base3;
  background-image: url("https://i.imgur.com/elWuDjJ.png");
  font-family: Didot, "EB Garamond", "Times New Roman", serif;
}
  

.navbar-light {

  a {
    font-style: normal;
  }

  .navbar-brand {
    font-size: 2rem;
    color: $violet;
    font-weight: normal;
  }

  .navbar-brand:focus, .navbar-brand:hover {
    color: $violet;
  }

  .navbar-nav {
    .nav-link {
      font-size: 1.5rem;
      font-weight: normal;
      color: rgba($base01, 0.5);
    }

    .nav-link:focus, .nav-link:hover {
      color: rgba($base01, 0.9);
    }
  }

  .navbar-toggler {
    font-size: 1rem;
    color: rgba($base01, 0.9);
  }

  .dropdown-menu {
    background-color: $base3;
    color: $base00;
    border-color: rgba($base00, .5);

    .dropdown-item {
      color: $base00;
    }

    .dropdown-item:focus, .dropdown-item:hover {
      color: $base01;
      background-color: $base2;
    }

    .dropdown-item:active {
      color: $blue;
      background-color: $base2;
    }
  }
}
