.resource-authors, .resource-citation {
  font-family: $bodyfont;
}

h2.resource-authors {
  font-size: 2.5rem;
}

h3.resource-citation {
  font-size: 1.5rem;
}

#resource-img {
  border: 1px solid $base1;
}

a.resource-citation {
  font-style: normal;
}
