/* The main Sass page */

@import "fonts";
@import "solarized-dark";

$textopacity: 0.85;

// Solarized light:

$base00:   rgba(101, 123, 131, $textopacity); // #657b83; // primary content
$base01:   rgba(88, 110, 117, $textopacity); // 586e75; // emphasized content
$base1:    rgba(147, 161, 161, $textopacity); // 93a1a1; // comments / secondary content
$base3:    rgba(253, 246, 227, $textopacity); // fdf6e3; // background
$base2:    rgba(238, 232, 213, $textopacity); // eee8d5; // secondary background
// orange    #cb4b16,  constants
// red       #dc322f  regex, special keywords
// blue      #268bd2,  reserved keywords
// cyan      #2aa198,  strings, numbers
// green     #859900,  operators, other keywords

$magenta:  rgba(211,  54, 130, $textopacity); // #d33682;
$violet:   rgba(108, 113, 196, $textopacity); // #6c71c4;
$yellow:   rgba(181, 137,   0, $textopacity); // #b58900;

html {
  position: relative;
  // height: 100%; // This breaks the footer. Set it via jquery.
  min-height: 100%;
}

body {
  font-family: "EB Garamond", "Times New Roman", serif;
  color: $base00;
  background-color: $base3;
  background-image: url("https://i.imgur.com/wfEXfGM.png");
  // padding-top: 4.25rem;
  margin-bottom: 4rem;
} 

section {
  padding-top: 4rem;
  margin-top: -4rem;
}

code {
  font-family: "Ubuntu Mono", Monaco, Terminal;
  color: $red;
  background-color: $base2;
}

a {
  color: $violet;
  font-style: italic;
}

a.footnote {
  font-style: normal;
}

a:focus, a:hover {
  color: $cyan;
}

h1 {

  a, a:focus, a:hover {
  color: $violet;
  font-weight: normal;
  text-decoration: none;
  }

}


h4, h5, h6, .lead, p > em {
  color: $base01;
}

.lead:first-letter {
  font-family: Didot, "EB Garamond", "Times New Roman", serif;
  color: $violet;
  float: left;
  font-size: 5rem;
  line-height: 3.5rem;
  padding: 0 .25rem 0 0 ;
}

h1 {
  font-family: "Tangerine", "Zapf Chancery", cursive, sans-serif;
  color: $violet;
  font-size: 3rem;
}

.hash {
  color: $cyan;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (min-width: 576px){
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}


h2, h3, h4, h5, h6 {
  font-family: "Tangerine", "Zapf Chancery", cursive, sans-serif;
  color: $base01;
}

p > strong, section > ol > li > strong {

  // font-family: "Ubuntu", "Helvetica", sans-serif;
  // font-size: 90%;
  // // font-size: .9rem;
  font-weight: bolder;
  color: $violet;
}

blockquote {
  padding-left: 3rem;
}

.bg-base2 {
  background-color: $base2;
}

.yellow {
  color: $yellow;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem; /* Vertically center the text there */
  // background-color: $base2;

  a {
    color: $violet;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
  
  @media (min-width: 576px){
    p {
      text-align: left;
      padding-left: 2rem;
    }
  }
}

.contents h3 {
  font-family: "Ubuntu", "Helvetica", sans-serif;
  color: $base01;
}

.btn-info {
  background-color: $base2;
  border-color: $cyan;
  color: $magenta;
}

.btn-info:hover {
  background-color: $base3;
  color: $cyan;
}

h4 {
  font-size: 1.25rem;
}

.fa-small {
  font-size: 70%;
}


.form-control {
  background-color: $base2;
  border: 1px solid $base1;
}

.form-control:active, .form-control:focus {
  background-color: $base3;
}

.btn-primary {
  color: $base3;
  background-color: $violet;
  border-color: $cyan;
}

.btn-primary:hover, .btn-primary:focus {
  color: $base3;
  background-color: $cyan;
  border-color: $green;
}

form {
  .input-group-text {
    border-color: $base1;
    background-color: $base3;
  }
}

.img-thumbnail {
  background-color: $base2;
  border: 1px solid $base1;
}

@import "index";
@import "navbar";
@import "code";
@import "aside";
@import "leaflet";
@import "modal";

